html{
    font-size:20px;
    background-image: url(frog.jpg);
    background-size: cover;
}
.keys{
    display:flex;
    flex: 1;
    min-height:150px;
    align-items: center;
    justify-content: center;
}
.key{
    border: .3rem solid black; 
    margin: .8rem;
    font-size: 1.5rem;
    padding: 1rem .5rem;
    transition: all 0.5s ease;
    width: 8rem;
    text-align: center;
    color: white;
    background: rgba(0,0,0,0.4);
    text-shadow: 0 0 .5rem black;
    align-items: center;
    justify-content: center;
}
.playing {
    transform: scale(1.2);
    border-color: #45fa3f;
    box-shadow: 0 0 1rem #45fa3f;
  }
kbd {
    display: block;
    font-size: 10rem;
}
.sound {
    font-size: 1.1rem;
    text-transform: uppercase;
    letter-spacing: .1rem;
    color: #45fa3f;
    align-items: center;
    justify-content: center;
}